<!DOCTYPE html>
<html>
<body>
<h1>Sample App</h1>
<p>This is my homepage for a neat and small application
made with  <a href="http://www.zoom.com">Les enfants du rail</a>
rails, <a href="www.sublimetext.com">Sublime</a></p>
</body></html>